<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="robots" content="all">
        <meta name="description" content="Le groupe Hypnos est un groupe hôtelier créé en 2000, il est réputé aujourd'hui dans toute la France pour son service premium et son prestige">
        <title>{% block title %}Hypnos - Groupe d'hôtel 5 étoiles{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <script src="https://kit.fontawesome.com/e98cd34f75.js" crossorigin="anonymous"></script>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="bg-dark">
    <header class="container">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ path('app_home') }}">
                    <img src="{{ asset('img/logo_blanc.png') }}" alt="logo" height="80">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav m-auto mb-2 mb-lg-0 fs-5">
                        <li class="nav-item">
                            {% if (app.request.get('_route') == 'app_home') %}
                                <a class="nav-link active" aria-current="page" href="{{ path('app_home') }}">Accueil</a>
                            {% else %}
                                <a class="nav-link" aria-current="page" href="{{ path('app_home') }}">Accueil</a>
                            {% endif %}
                        </li>
                        <li class="nav-item">
                            {% if (app.request.get('_route') == 'app_hotel') %}
                                <a class="nav-link active" aria-current="page" href="{{ path('app_hotel') }}">Nos Hôtels</a>
                            {% else %}
                                <a class="nav-link" aria-current="page" href="{{ path('app_hotel') }}">Nos Hôtels</a>
                            {% endif %}
                        </li>
                        <li class="nav-item">
                            {% if (app.request.get('_route') == 'app_reservation') %}
                                <a class="nav-link active" aria-current="page" href="{{ path('app_reservation') }}">Réservation</a>
                            {% else %}
                                <a class="nav-link" aria-current="page" href="{{ path('app_reservation') }}">Réservation</a>
                            {% endif %}
                        </li>
                        <li class="nav-item">
                            {% if (app.request.get('_route') == 'app_contact') %}
                                <a class="nav-link active" aria-current="page" href="{{ path('app_contact') }}">Nous contacter</a>
                            {% else %}
                                <a class="nav-link" href="{{ path('app_contact') }}">Nous contacter</a>
                            {% endif %}
                        </li>
                    </ul>
                    <div class="dropdown">
                        {% if app.user %}
                            <button class="btn btn-info dropdown-toggle text-dark d-flex align-items-center" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                               Bonjour {{ app.user.firstname }} ! <i class="fa-solid fa-user-check ms-2"></i>
                            </button>
                        {% else %}
                            <button class="btn btn-info dropdown-toggle text-dark d-flex align-items-center" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                 <i class="fa-solid fa-circle-user me-2"></i> Se connecter
                            </button>
                        {% endif %}
                        <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="dropdownMenuButton1">
                            {% if app.user %}
                                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_GERANT') %}
                                    <li><a class="dropdown-item" href="{{ path('admin') }}">Accéder au panneau d'administration</a></li>
                                {% endif %}
                                <li><a class="dropdown-item" href="{{ path('app_client_area') }}">Gérer mes réservations</a></li>
                                <li><a class="dropdown-item" href="{{ path('app_user_info')}}">Modifiers mes informations personnelles</a></li>
                                <li><a class="dropdown-item" href="{{ path('app_logout') }}">Se déconnecter</a></li>
                            {% else %}
                                <li><a class="dropdown-item" href="{{ path('app_login') }}">Se connecter</a></li>
                                <li><a class="dropdown-item" href="{{ path('app_register') }}">S'inscrire</a></li>
                            {% endif %}
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item">Aide</a></li>
                            <li><a class="dropdown-item">Conditions générales de ventes</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </nav>
    </header>
        {% block content %}{% endblock %}
    <footer class="py-3 my-4 container">
    {% if (app.request.get('_route') == 'app_login' or app.request.get('_route') == 'app_register')  %}
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a class="nav-link px-2 text-white">Mentions légales</a></li>
            <li class="nav-item"><a class="nav-link px-2 text-white">CGS</a></li>
            <li class="nav-item"><a class="nav-link px-2 text-white">Cookies</a></li>
            <li class="nav-item"><a href="{{ path('app_client_area') }}" class="nav-link px-2 text-white">Gérer mes réservations</a></li>
        </ul>
        <p class="text-center text-white">© {{ "now" | date('Y')}} Hypnos, Développé par Flavien Groslevin</p>
    </footer>
    {% else %}
        <div class="d-flex flex-column justify-content-center flex-lg-row justify-content-lg-between mb-4">
            <div class="d-flex justify-content-center">
                <img src="{{ asset('img/logo_blanc2.png') }}" alt="logo" width="100">
            </div>
            <div class="d-flex justify-content-center align-items-center mt-4 mt-lg-0">
                <a href="#"><i class="fa-brands fa-facebook text-white fa-2xl me-3"></i></a>
                <a href="#"><i class="fa-brands fa-instagram text-white fa-2xl me-3"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin text-white fa-2xl me-3"></i></a>
            </div>
        </div>
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a class="nav-link px-2 text-white">Mentions légales</a></li>
            <li class="nav-item"><a class="nav-link px-2 text-white">CGV</a></li>
            <li class="nav-item"><a class="nav-link px-2 text-white">Cookies</a></li>
            <li class="nav-item"><a href="{{ path('app_client_area') }}" class="nav-link px-2 text-white">Gérer mes réservations</a></li>
        </ul>
        <p class="text-center text-white">© {{ "now" | date('Y')}} Hypnos, Développé par Flavien Groslevin</p>
    </footer>
    {% endif %}
    {% block body_javascript %}{% endblock %}
    </body>
</html>
